.profilePage {
    height: 100%;
    position: relative;
    top: 20px;
    left: 15px;
    
    display: grid;
    grid-template-areas: 
    'photo profileData'
    'status profileData';
    /* 'contacts' 'profileData'; */
    grid-template-columns: 35% 65%;
    grid-template-rows: 40% 65%;
    /* gap: 15px; */

    cursor: default;
    user-select: none;

    color: #939393;

    /* background-color: cadetblue; */
}


.holder {
    grid-area: photo;
    position: relative;
}

.holder img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 450px;
}

.block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

    background:rgba(255,255,255, 0.7);
    padding-top: 15px;
    padding-bottom: 20px;
    display: none;
}

.holder:hover .block{
    display: block;
}

.file__input {
    opacity: 0;
    position: relative;
    z-index: -1;
    overflow: hidden;
    width: 0.1px;
    height: 0.1px;
}

.file__label {
    position: relative;
    left: 110px;    
    font-size: 13px;
    padding: 5px 10px;

    justify-content: center;
    align-items: center;

    background-color: #715678;
    color: white;
    border: #c2c6c5 solid 1px;
    border-radius: 10px;
    
    cursor: pointer;
    user-select: none;
}

/* .name {
    color: #715678;
    padding-bottom: 20px;
} */

.status {
    grid-area: status;
}


.contacts {
    grid-area: contacts;
    color: #715678;
}

.contact {
    padding-left: 20px;
}

.profileData {
    grid-area: profileData;

    /* position: relative;
    left: 400px; */
}

/* .file__label .file__text {
    transition: .025s ease;
}

.file__label:hover .file__text {
    top: 100px;
} */

@media (max-width: 700px) {
    .profilePage {
        grid-template-rows: 100px;
        gap: 5px;
    }
}