.profilePage {
    height: 100%;
    position: relative;
    top: 20px;
    left: 15px;
    
    display: grid;
    grid-template-areas: 
    'short_description'
    'description';
    grid-template-rows: 40% 60%;
    gap: 15px;

    cursor: default;
    user-select: none;

    color: #939393;
}

.profilePage a{
    text-decoration: none;
    color: #939393;
}

.short_description {
    grid-area: short_description;

    display: grid;
    grid-template-areas:
    'avatar name'
    'avatar job_title'
    'avatar status';
    grid-template-columns: 30% 70%;
    grid-template-rows: 30px 30px 30px;
    gap: 10px;
}

.avatar {
    width: 200px;
    height: 300px;


    position: relative;
    left: 50%;
    transform: translate(-50%);

    grid-area: avatar;
    border-radius: 15px;
    overflow: hidden;
}

.avatar img {
    width: 200px;
    height: 300px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    object-fit: cover;
    transition: 300ms;
}

.avatar img:hover {
    width: 250px;
    height: 350px;
}

.name {
    grid-area: name;
    color: #715678;
}

.job_title {
    grid-area: job_title;
}

.status {
    grid-area: status;
}

.description {
    grid-area: description;
    display: grid;
    grid-template-areas: 
    'skills education'
    'skills languages'
    'about_me about_me';
    grid-template-columns: 25%;
    grid-template-rows: 20% 15%;
    gap: 10px;
}

.skills {
    grid-area: skills;
    padding: 5px;
    /* border-right: #c2c6c5 solid 1px; */
}
.skill:hover {
    color: #715678;
    font-size: 21px;
}

.education {
    grid-area: education;
    padding: 5px;
}
.speciality:hover {
    color: #715678;
    font-size: 21px;
}

.languages {
    grid-area: languages;
    padding: 15px 5px;
    /* border-top: #c2c6c5 solid 1px; */
}

.about_me {
    grid-area: about_me;
    padding: 15px 5px;
    /* border-top: #c2c6c5 solid 1px; */
}

@media (max-width: 700px) {
    .profilePage {
        grid-template-rows: 100px;
        gap: 5px;
    }
    
    .short_description {
        grid-template-areas:
        'avatar name'
        'avatar job_title'
        'status status' ;

        grid-template-columns: 15% 85%;
        gap: 5px;
    }

    .avatar {
        width: 50px;
        height: 50px;

        border-radius: 50%;
    }
    
    .avatar img {
        width: 50px;
        height: 100px;
        top: 75%;
    }
    
    .avatar img:hover {
        width: 65px;
        height: 115px;
    }

    .description {
        grid-template-areas: 
    'skills'
    'education'
    'languages'
    'about_me';
    grid-template-columns: auto;
    /* grid-template-rows: 20% 15%; */
        grid-template-rows: 30% 20% 10%;
    }

    .skills {
        padding: 15px 5px;

        border-top: #c2c6c5 solid 1px;
    }
    
    .education {
        border-top: #c2c6c5 solid 1px;
        padding: 15px 5px;

    }
    
    .languages {
        border-top: #c2c6c5 solid 1px;
    }
    
    .about_me {
        border-top: #c2c6c5 solid 1px;
    }
}