.postsPage {
    position: relative;
    top: 2rem;

    display: grid;
    grid-template-areas: 'posts active_friends';

    transition: 2s;
}

.posts {
    width: 31rem;

    position: relative;
    left: 50%;
    transform: translate(-50%);

    cursor: default;
    user-select: none;
}

.post {
    width: 30rem;
    min-height: 6rem;
    height: auto;

    margin-bottom: 1rem;
    padding: 0.5rem;

    display: grid;
    grid-template-areas: 
    'img name'
    'img message'
    'img likes';
    grid-template-columns: 4rem;
    grid-template-rows: 1.75rem;

    transition: 1s;
    
    color: #939393;
    border: #c2c6c5 solid 0.1rem;
    border-radius: 1rem;
}

.post:hover {
    box-shadow: 0 0 1rem 0.2rem rgba(194, 194, 194, 1);
}

.new_post {
    width: 31rem;

    display: grid;
    grid-template-columns: 25rem 5rem;
    gap: 1rem;
    padding-bottom: 1rem;
}

.new_post button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comrade_img {
    grid-area: img;

    border-radius: 3rem;
    width: 50px;
    height: 50px;

    user-select: none;
}

.comrade_name {
    grid-area: name;
}

.comrade_message {
    grid-area: message;
    color: #939393
}

.likes {
    grid-area: likes;

    position: relative;
    width: 5rem;
    left: 70%;

    cursor: pointer;
    user-select: none;
}

.likes:hover {
    color: #715678;
    font-size: 21px;
}

.active_friends {
    grid-area: active_friends;
}

@media (max-width: 900px) {
    .active_friends {
        display: none;
    }
}

@media (max-width: 1100px) {
    .posts {
        width: 25rem;
        left: 1rem;
        transform: translate(0);
    }
    
    .post {
        width: 24rem;
    }

    .new_post {
        width: 25rem;
    
        grid-template-columns: 20rem 2rem;
        gap: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 800px) {
    .postsPage {
        grid-template-columns: 30rem 20rem;
    }
}

@media (min-width: 1100px) {
    .postsPage {
        grid-template-columns: 40rem 20rem;
    }
}

@media (min-width: 1500px) {
    .postsPage {
        grid-template-columns: 65% 35%;
    }

    .posts {
    
        width: 41rem;

        /* left: 50%;
        transform: translate(-50%); */
    }

    .post {
        width: 40rem;
    }

    .new_post {
        width: 41rem;
    
        grid-template-columns: 33rem 7rem;
        gap: 1rem;
        padding-bottom: 1rem;
    }
}