.photosPage {
    position: relative;
    top: 2rem;

    display: grid;
    grid-template-areas: 
    'photos active_friends';
    grid-template-columns: 41rem;
}

.photos {
    grid-area: photos;

    display: flex;
    flex-wrap: wrap; /*позволяет переносить элементы на новую строку */
    
    gap: 1rem;

    /* border-right: rgb(194, 198, 197) solid 0.1rem; */
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    overflow: hidden;
}

.photo img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 200px;
    height: 200px;
    
    object-fit: cover;
    transition: 300ms;
}

.photo img:hover {
    width: 250px;
    height: 250px;
}

.active_friends {
    grid-area: active_friends;
}

@media (max-width: 550px) {
    .photos {
        width: 19rem;
    }
}

@media (max-width: 900px) {
    .active_friends {
        display: none;
    }
}

@media (min-width: 550px) and (max-width: 1100px) {
    .photos {
        width: 26rem;
    }
}

@media (min-width: 800px) {
    .photosPage {
        grid-template-columns: 30rem 20rem;
    }
}

@media (min-width: 1100px) {
    .photosPage {
        grid-template-columns: 40rem 20rem;
        left: 1rem;
    }

    .photos {
        width: 40rem;
    }
}

@media (min-width: 1500px) {
    .photosPage {
        grid-template-columns: 65% 35%;
        left: 1rem;
    }

    .photos {
        width: auto;
    }
}