.usersPage {
    position: relative;
    top: 20px;

    display: grid;
    grid-template-areas:'users active_friends';
    grid-template-columns: 60% 40%;
}

.users {
    grid-area: users;

    width: 95%;
    max-width: 500px;

    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.user {
    width: 95%;
    height: 70px;

    margin-bottom: 15px;
    padding: 10px;

    display: grid;
    grid-template-areas: 
    'img name button'
    'img status button';
    grid-template-columns: 60px 200px 30px;
    grid-template-rows: 30px 30px;

    border: #c2c6c5 solid 1px;
    border-radius: 15px;
}

.user:hover {
    border-color: #715678;
    box-shadow: 0 0 10px 2px rgba(194, 194, 194, 1);
}

.user img{
    width: 50px;
    height: 50px;

    position: relative;
    top: 50%;
    transform: translate(0, -50%);

    grid-area: img;
}

.user_name {
    position: relative;
    top: 10px;

    grid-area: name;
}

.user button {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

    grid-area: button;
}

.active_friends {
    grid-area: active_friends;
}

@media (max-width: 900px) {
    .usersPage {
        grid-template-columns: 100%;
    }

    .active_friends {
        display: none;
    }
}

@media (min-width: 1500px) {
    .usersPage {
        grid-template-columns: 65% 35%;
    }
}