.profilePage {
    height: 100%;

    cursor: default;
    user-select: none;

}

.profileSmallPhoto {
    grid-area: 'profile_small_photo';

    position: relative;
    top: 10px;
}

.profileSmallPhoto img {
    width: 100px;
    height: 100px;

    position: relative;

    left: 50%;
    transform: translate(-50%);

    border-radius: 50%;
}

.login {
    padding-top: 25px;
    max-width: 200px;
    text-align: center;
    color: #715678
}

.status {
    padding-top: 25px;
    max-width: 200px;
    text-align: center;
    color: #939393;
}

.mini_login_form {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;

    /* display: grid;
    gap: 15px; */

    height: 200px;
    width: 200px;
}