.dialogsPage {
    position: relative;
    top: 20px;

    height: 100%;

    display: grid;
    grid-template-areas: 'comrades messages';
    grid-template-columns: 35% 65%;
    gap: 2%;
    
    cursor: default;
}

.comrades {
    max-width: 400px;
    width: 95%;

    grid-area: comrades;

    position: relative;
    left: 50%;
    transform: translate(-50%);

    user-select: none;
}

.messages {
    grid-area: messages;

    width: 90%;
    height: auto;

    position: relative;
    right: 1%;
    padding: 15px;

    background: linear-gradient(45deg, #c1b0c8, #715678);
    border: #c2c6c5 solid 1px;
    border-radius: 15px;

    transition: 250ms;
}

.message {
    width: 70%;
    max-width: 400px;
    padding: 5px;
    margin-bottom: 10px;

    position: relative;
    

    background: white;
    border: #939393 solid 1px;
    border-radius: 15px;
}

@media (max-width: 750px) {
    .dialogsPage {
        grid-template-columns: 97%;
    }

    .messages {
        display: none;
    }
}