.dialogs {
    position: relative;
    top: 2rem;

    height: 100%;

    display: grid;
    grid-template-areas: 'comrades messages';
    
    cursor: default;
}

.comrades {
    grid-area: comrades;
    position: relative;
    left: 0.5rem;

    user-select: none;
}

.messages {
    grid-area: messages;

    height: auto;
    padding: 1rem;

    position: relative;

    background: linear-gradient(45deg, #c1b0c8, #715678);
    border: #c2c6c5 solid 0.1rem;
    border-radius: 1rem;

    transition: 250ms;
}

.message {
    width: 15rem;
    padding: 0.3rem;
    margin-bottom: 0.5rem;

    position: relative;
    

    background: white;
    border: #939393 solid 0.1rem;
    border-radius: 1rem;
}

.new_message {
    position: relative;
    bottom: 0;
    
    display: grid;
    grid-template-columns: 15rem 5rem;
    gap: 1rem;
}

.new_message button {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}


@media (max-width: 550px) {
    .comrades {
        width: 19rem;
        left: 0;
    }
    

    .new_message {
        width: 18rem;
    
        grid-template-columns: 13rem 5rem;
        gap: 1rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 900px) {
    .messages {
        display: none;
    }
}

@media (min-width: 550px) and (max-width: 1100px) {
    .comrades {
        width: 25rem;
    }

    .new_message {
        width: 25rem;
    
        grid-template-columns: 19rem 5rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 800px) {
    .dialogs {
        grid-template-columns: 27rem 25rem;
    }
}

@media (min-width: 1100px) {
    .dialogs {
        grid-template-columns: 33rem 20rem;
    }

    .comrades {
        width: 31rem;
    }

    .new_message {
        width: 31rem;
    
        grid-template-columns: 25rem 5rem;
        gap: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 1500px) {
    .dialogs {
        grid-template-columns: 44rem;
    }

    .comrades {
        width: 41rem;
    }

    .messages {
        right: 1rem;
    }

    .new_message {
        width: 41rem;
    
        grid-template-columns: 34rem 7rem;
        gap: 1rem;
        padding-bottom: 1rem;
    }
}