.item {
    color: #939393;
    text-decoration: none;
}

.item:hover {
    color: #715678;
}

.active {
    text-decoration: none;
    color: #715678;
}

.dialog {
    width: 95%;
    height: auto;
    min-height: 55px;

    margin-bottom: 15px;
    padding: 10px;

    display: grid;
    grid-template-areas: 
    'img name'
    'img message';
    grid-template-columns: 60px;
    grid-template-rows: 30px;

    border: #c2c6c5 solid 1px;
    border-radius: 15px;

    transition: 250ms;
}

.dialog:hover {
    width: 97%;
    transform: translate(-1%);
    border-color: #715678;
    box-shadow: 0 0 10px 2px rgba(194, 194, 194, 1);
}

.comrade_img {
    grid-area: img;

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comrade_name {
    grid-area: name;
}

.comrade_message {
    grid-area: message;
    
    color: #939393
}