.App {
  display: grid;
  grid-template-areas: 
  'navbar header'
  'navbar content';
  grid-template-columns: 16rem;
  grid-template-rows: 7% 93%;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.App button {
    width: 70px;
    height: 30px;
    font-size: 13px;

    background: #c1b0c8;
    color: white;
    border: #c2c6c5 solid 1px;
    border-radius: 10px;
    
    cursor: pointer;
    user-select: none;
}

.App button:hover {
  font-size: 14px;
  background: #715678;
  /* animation: pulsing 2s infinite linear; */
}

.App textarea {
  width: auto;

  font-size: 15px;

  border: #c2c6c5 solid 1px;
  border-radius: 10px;
}

.App textarea:hover {
  box-shadow: 0 0 1rem 0.2rem rgba(194, 194, 194, 1);
}

.App textarea:focus  {
  outline: none !important;
  border: #715678 solid 0.1rem;
}

.header {
  grid-area: header;
  position: relative;
  left: 10px;
  padding-top: 15px;
  border-bottom: rgb(194, 198, 197) solid 1px;
}

.content {
  grid-area: content;
}

.active_friends {
  grid-area: active_friends;
}

/* @keyframes pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */

@media (max-width: 1100px) {
  .App {
    grid-template-columns: 60px;
  }  
}